[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PyAutomation
[access "refs/for/refs/*"]
	read = group user/PyAutomation
	push = group user/PyAutomation
	label-Code-Review = -2..+2 group user/PyAutomation
	label-Verified = -1..+1 group user/PyAutomation
	rebase = group user/PyAutomation
	removeReviewer = group user/PyAutomation
	submit = group user/PyAutomation
[access "refs/heads/*"]
	read = group user/PyAutomation
	create = group user/PyAutomation
	push = +force group user/PyAutomation
	pushMerge = group user/PyAutomation
[access "refs/tags/*"]
	push = +force group user/PyAutomation
	pushTag = group user/PyAutomation
	pushSignedTag = group user/PyAutomation
